.layout{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: min(854px, calc(100% - 32px));
  max-width: 856px;
  margin: 64px auto;
  flex-grow: 1;
  align-items: center;
}

.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid #1E1E1E;
}


.header h2{
  font-size: 2.4rem;
}


.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 42px;
  padding-top: 38px;
  width: 100%;
  align-items: center;
}

.container_button{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 96px;
}

.container_button a{
  padding: 0px 24px;
  height: 48px;
  background-color: #FED467;
  border: none;
  color: #25271a;
  font-size: 1.6rem;
  border-radius: 24px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
}

@media (max-width: 550px){
  .header{
    max-width: calc(100% - 32px);
  }

  .container{
    padding-top: 24px
  }
}

@media screen and (max-width: 510px){
  .header h2{
    font-size: 1.8rem;
  }
}