.section{
  width: min(calc(100% - 32px), 768px);
  margin: 48px auto;
  padding: 24px;
  border: 1px solid #1f1f1f;
  border-radius: 24px;
  display: flex;
}

.section + section{
  margin-top: 0px;
}

.section#selectContent{
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  gap: 32px;
}

.section#selectContent h3{
  font-weight: 400;
  font-size: 16px;
}




