.comments{
  width: 100%;
  max-width: calc(100% - 32px)
}

.button_loading{
  padding: 12px 24px;
  border-radius: 10px;
  background: transparent;
  border: 1px solid var(--black-500);
  cursor: pointer;
  color: var(--white-400);
  transition: 250ms ease-in;
}

.button_loading:hover{
  color: var(--white-200);
  background: var(--black-500)
}

.button_loading:active{
  outline: 3px solid hsla(0, 0%, 20%, 0.333);
  outline-offset: 1px;
}