.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 6px;
}

.tags .tag {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 1.4rem;
  transition: 350ms linear;
  border: 1px solid transparent;
  text-transform: lowercase;
  color: var(--color-text);
}

.tags .tag::before {
  content: '#';
}

.tags .tag[data-color] {
  border-color: #57606f;
}

.tags .tag[data-color]:hover {
  background-color: #2f3542;
  color: #bbbecc;
}

@media (max-width: 590px) {
  .tags .tag {
    display: none;
  }
  .tags .tag:nth-child(1),
  .tags .tag:nth-child(2),
  .tags .tag:nth-child(3) {
    display: inline-block;
  }
}
