.nav {
  height: 100%;
}

.nav .curtain {
  display: none;
}

.nav .menu {
  width: auto;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
}

.nav .menu .menuItem {
  height: 100%;
  transition: 350ms linear;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav .menu .menuItem a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: 250ms linear;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--color-title);
}

.nav .menu .menuItem a:hover {
  color: var(--color-primary);
}

.nav .menu .menuItem.active a {
  color: var(--color-primary);
}

@media (max-width: 610px) {
  .nav {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
  }

  .nav .menu {
    position: fixed;
    top: 0px;
    transform: translateX(-150vw);
    width: calc(100% - 25px);
    max-width: 340px;
    height: 100vh;

    display: none;
    align-items: flex-start;
    flex-direction: column;
    padding: 54px 32px;
    padding-top: var(--header-height);
    z-index: 999;
    background-color: var(--color-bg);
  }

  .nav[data-show='true'] .menu {
    display: flex;
    animation: menuIn 250ms linear forwards;
  }

  .nav[data-show='false'] .menu {
    display: flex;
    animation: menuOut 350ms linear forwards;
  }

  @keyframes menuIn {
    100% {
      transform: translateX(0px);
    }
  }

  @keyframes menuOut {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-150vw);
    }
  }

  .nav.visibled .curtain {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 800;
  }

  .nav .menu .menuItem {
    height: auto;
  }

  .nav .menu .menuItem {
    font-size: 18px;
  }

  .nav .menu .menuItem.active a {
    color: var(--color-title);
  }
}

@media (max-width: 365px) {
  .nav .menu {
    width: 300px;
  }

  .nav.visibled .menu {
    width: 300px;
  }
}
