.wrapper{
  --gap: 24px;
  margin: 64px auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);
  justify-content: space-between;
  margin-bottom: 32px;
}

@media (min-width: 1100px){
  .wrapper{
    --gap: 16px;
  }
}

.wrapper .titleContent{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 0;
  border-bottom: 2px solid var(--color-border);
  margin-bottom: 32px;
  height: 54px;

}

.wrapper .titleContent h2{
  width: fit-content;
  height: auto;
  display: flex;
  position: relative;
  border-bottom: 2px solid var(--color-primary);
  position: relative;
  bottom: -2px;
  padding-right: 12px;
  opacity: 0.8;
}


.wrapper .groupBtn{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.wrapper .groupBtn button{
  width: 230px;
  height: 44px;
  background: var(--color-bg);
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.06rem;
  border: 1px solid var(--color-border);
}

.wrapper .groupBtn button:hover{
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.24);
}



.wrapper .groupBtn button:focus{
  outline: 2px solid var(--color-dark-300);
  outline-offset: 4px;
}