.container_thumbnail {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 42px;
	flex-shrink: 0;
	display: flex;
	overflow: hidden;
	border-radius: 12px;
}

.container_thumbnail img {
	width: 100%;
	height: 100%;
	max-width: 100%;
	object-fit: cover;
	object-position: center;
	overflow: hidden; 
}

@media (max-width: 550px) {
	.container_thumbnail {
		height: 230px;
		min-height: unset;
	}
}