.footer {
  width: 100%;
  height: auto;
  background-color: var(--color-dark-900);
  border-top: 1px solid var(--color-border);
  padding: 24px 0px 32px 0px;
  margin-top: 124px;
}

.footer .wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  color: var(--color-white-200);
}

.footer .wrapper ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.footer .wrapper ul svg {
  transition: 150ms linear;
}
.footer .wrapper ul svg:hover {
  color: var(--color-primary);
}

/* hidden text */
.hiddenText {
  composes: visible-hidden from global;
}

@media (max-width: 410px) {
  .footer .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}
