.posts {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.posts .loadMore {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.posts .loadMore button {
  width: 230px;
  height: 44px;
  background: var(--color-bg);
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.06rem;
  border: 1px solid var(--color-border);
}

.posts .loadMore button:hover {
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.24);
}

.posts .loadMore button:focus {
  outline: 2px solid var(--color-dark-300);
  outline-offset: 4px;
}
