.wrapper {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.4rem;
  justify-content: center;
  height: calc(100vh - (var(--header-height) + var(--footer-height)));
}

.container {
  width: 50%;
  max-width: 410px;
  min-width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.6rem;
}

.container .button {
  background: var(--color-primary);
  height: 42px;
  width: 210px;
  color: #fff;
  transition: filter 350ms linear;
  display: flex;
  align-items: center;
  font-weight: 500;
  justify-content: center;
  border-radius: 4px;
}

.container .button:hover {
  background: var(--color-primary);
  filter: brightness(1.3);
}

.container .button:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 4px;
}

.container button:hover {
  background: var(--color-bg);
  height: 42px;
  width: 210px;
}

.containerIlustration {
  width: 50%;
  min-width: 550px;
  height: 100%;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statusError {
  font-size: 156px;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
    min-width: unset;
    max-width: 30vw;
    height: 100%;
    align-items: center;
    text-align: center;
  }

  .containerIlustration {
    width: calc(100% - 450px);
  }
}

@media (max-width: 896px) {
  .container,
  .containerIlustration {
    height: auto;
    max-width: unset;
    width: 100%;
  }

  .containerIlustration {
    order: 1;
  }
  .container {
    order: 2;
  }
}

@media (max-width: 590px) {
  .wrapper {
    overflow: hidden;
  }
  .container {
    padding: 0.8rem;
  }

  .containerIlustration {
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 100px;
    min-height: 280px;
  }
}

.containerIlustration::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -46%);
  width: 54px;
  height: 54px;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
  opacity: 1;
  overflow: visible;
  z-index: 1;
  opacity: 0.4;
  box-shadow: 0px 0px 100px 100px var(--color-primary);
  background: var(--color-primary);
}

.containerIlustration::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -46%);
  width: 254px;
  height: 254px;
  display: block;
  border-radius: 50%;
  background: transparent;
  overflow: hidden;
  background-size: cover;
  opacity: 1;
  overflow: visible;
  z-index: 1;
  opacity: 0.05;
  box-shadow: 0px 0px 100px 100px var(--color-primary);
}

.stars {
  content: '';
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -46%);
  width: 1px;
  height: 1px;
  display: block;
  border-radius: 50%;
  background: #ffffffdd;
  z-index: 10;
  opacity: 1;
  box-shadow: 0px 0px 12px 3px #fff;
  overflow: visible;
}

.stars::before {
  content: '';
  position: absolute;
  transform: translateX(110px) translateY(80px);
  width: 1px;
  height: 1px;
  display: block;
  border-radius: 50%;
  background: #ffffffdd;
  z-index: 10;
  opacity: 1;
  box-shadow: 0px 0px 12px 3px #fff;
  animation: brilhaestrelinha 6s linear infinite;
}

.skl {
  content: '';
  position: absolute;
  width: 1px;
  height: 1px;
  animation: brilhaestrelinha 9s linear infinite;
  opacity: 1;
  border-radius: 50%;
  display: block;
  z-index: 10;
  box-shadow: 0px 0px 9px 3px var(--color-primary);
  background: #ffffffdd;
}

.sparkle {
  transform: translateX(110px) translateY(-60px);
}

.sparkle2 {
  transform: translateX(-240px) translateY(-100px);
}

.sparkle3 {
  background: #dddddfdd;
}

.stars::after {
  content: '';
  position: absolute;
  transform: translateX(-120px);
  width: 1px;
  height: 1px;
  display: block;
  border-radius: 50%;
  background: #ffffffdd;
  z-index: 10;
  opacity: 1;
  box-shadow: 0px 0px 12px 3px #fff;
  animation: brilhaestrelinha 5s linear infinite;
  animation-delay: 1s;
}

@keyframes brilhaestrelinha {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
