:root {
  /* Main */
  --color-primary: #686de0;
  --color-secondary: #0888a8;

  /* Color Dark */
  --color-dark-400: #34343e;
  --color-dark-500: #1f2035;
  --color-dark-700: #171822;
  --color-dark-800: #14151e;
  --color-dark-900: #12131b;

  /* Color White */
  --color-white-100: #f1f2fc;
  --color-white-200: #e4e4f9;
  --color-white-300: #d6d7f7;
  --color-white-400: #c8caf4;
  --color-white-500: #babdc1;
  --color-white-600: #83828d;

  --color-tag-red: #b33939;
  --color-tag-blue: #227093;
  --color-tag-green: #218c74;
  --color-tag-purple: #574b90;
  --color-tag-orange: #cd6133;
  --color-tag-brown: #362416;
  --color-tag-gray: #4b6584;
  --color-tag-default: #4b6584;
  --color-tag-pink: #e84393;
}

:root {
  --color-text: #36363f;
  --color-title: #171719;

  --color-bg: var(--color-white-200);
  --color-bg-header: var(--color-white-100);
  --color-bg-component: var(--color-white-100);

  --color-border: var(--color-white-500);

  --color-bg-scrollbar-bg: var(--color-white-200);
  --color-bg-scrollbar-thumb: var(--color-white-500);
  --color-shadow: 4px 6px 16px rgba(0, 0, 0, 0.2);

  --color-underline-title: var(--color-dark-500);

  --color-bg-code: var(--color-dark-900);
  --color-cardTags-bg: var(--color-dark-800);
}

.isDarkTheme {
  --color-text: var(--color-white-600);
  --color-title: var(--color-white-200);

  --color-bg: var(--color-dark-900);
  --color-bg-header: var(--color-dark-700);
  --color-bg-component: var(--color-dark-700);

  --color-bg-scrollbar-bg: var(--color-dark-900);
  --color-bg-scrollbar-thumb: var(--color-dark-400);

  --color-border: var(--color-dark-400);
  --color-shadow: 4px 6px 16px rgba(0, 0, 0, 0.7);

  --color-underline-title: #000;

  --color-cardTags-bg: var(--color-dark-700);
}

/* Scrollbar */
::-webkit-scrollbar {
  background: var(--color-bg-scrollbar-bg);
  padding-left: 3px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-bg-scrollbar-thumb);
  border: 3px solid var(--color-bg-scrollbar-bg);
  border-radius: 8px;
}
