:root {
  /* Main */
  --color-primary: #686de0;

  /* Color Dark */
  --color-dark-400: #202029;
  --color-dark-800: #18191f;
  --color-dark-900: #121319;

  /* Color White */
  --color-white-100: #f1f2f0;
  --color-white-200: #e4e9ef;
  --color-white-500: #bbbecc;
}

:root {
  --color-text: var(--color-dark-400);
  --color-title: var(--color-dark-900);

  --color-bg: var(--color-white-100);
  --color-bg-header: var(--color-white-100);
  --color-bg-component: var(--color-white-200);

  --color-border: var(--color-white-500);

  --color-bg-scrollbar-bg: var(--color-white-200);
  --color-bg-scrollbar-thumb: var(--color-white-500);

  --color-bg-code: var(--color-dark-800);
  --color-button-menu-bg: var(--color-white-500);
}

.isDarkTheme {
  --color-text: var(--color-white-500);
  --color-title: var(--color-white-100);

  --color-bg: var(--color-dark-900);
  --color-bg-header: var(--color-dark-900);
  --color-bg-component: var(--color-dark-800);

  --color-bg-scrollbar-bg: var(--color-dark-900);
  --color-bg-scrollbar-thumb: var(--color-dark-400);

  --color-border: var(--color-dark-400);

  --color-button-menu-bg: var(--color-dark-400);
}
