.main{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  border: 1px solid #1f1f1f;
  padding: 48px 64px;
  display: flex;
  flex-direction: row;
  width: calc(100% - 16px);
  max-width: 750px;
  border-radius: 96px;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 700px){
  .container{
    padding: 48px 42px;
    padding-left: 32px;
  }
}

@media screen and (max-width: 600px){
  .container{
    padding: 48px 32px;
  }

  .container img{
    max-width: 120px;
  }
}

@keyframes plin {
  0% {
    opacity: 0.1;
    filter: saturate(0%);
  }
  100% {
    opacity: 1;
  }
}

@keyframes move {
  0%{
    transform: translateY(-12px);
  }

  25%{
    transform: translate(-12px, 8px);
  }
  50%{
    transform: translate(0, 28px);
  }
  100%{
    transform: translate(0,0);
  }
}

.image{
  position: relative;
  min-width: 220px;
  height: 100%;
  object-fit: cover;
}

.image img{
  width: 100%;
  max-width: 100%;
  animation: plin 5s linear alternate-reverse infinite, move 10s linear  alternate-reverse infinite
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.content h2{
  font-weight: 2.4rem;
}

.content p{
  color: #CFCFCF;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.content a{
  display: flex;
  align-items: center;
  justify-content: center; 
  border-radius: 24px;
  color: #CFD2D8;
  width: 200px;
  height: 42px;
  border: 1px solid #1f1f1f;
}

.content a:hover{
  background-color: #1f1f1f;
}

@media screen and (max-width: 410px){
  .container{
    padding: 32px 8px;
    flex-direction: column;
    max-height: calc(100vh - 64px);
  }

  .container .content{
    align-items: center;
    text-align: center;
  }
  .container img{
    max-width: 120px;
  }
}