.header {
  width: 100%;
  height: var(--header-height);
  background-color: var(--color-bg-header);
  border-bottom: 1px solid var(--color-border);
}

.content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
}

.header button.toggle {
  display: none;
  background-color: var(--color-button-menu-bg);
}

.header button.toggle svg {
  stroke: var(--color-text);
}

.hiddenText {
  composes: visible-hidden from global;
}

@media (max-width: 610px) {
  .header button.toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-button-menu-bg);
    width: 34px;
    height: 34px;
  }
}
