.wrapper{
  --gap: 24px;
  margin: 32px auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 0px;
  height: 100%;
}


.card{
  width: calc((100% - (var(--gap) / 2)) / 2);
  min-height: 250px;
  min-width: 375px;
  max-width: 550px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: var(--color-bg);
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--color-border);
  transition: 250ms linear;
}

.card .cardHeader{
  width: 42%;
  height: 100%;
}

.card .cardHeader img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: 100%;
  object-position: center;
}

.card .cardMain{
  width: 58%;
  height: 100%;
  padding: 16px;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 14px;
  position: relative;
  padding-bottom: 32px;
}

.card .cardMain h3{
  overflow:hidden;
  line-height: 1.25;
  max-height: 8rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;

  font-size: 20px;
}

.card a:hover h3{
  color: var(--color-primary);
}

.card .time{
  font-size: 14px;
  display: flex;
  width: 100%;
  gap: 6px;
  align-items: center;
  height: 32px;
  position: absolute;
  bottom: 12px;
  opacity: 0.7;
}

.card[data-style="long"]{
  width: calc(100% - 14rem);
  max-width: 100%;
  height: 230px;
  margin: 0 auto;
}

.card[data-style="long"]  .cardHeader{
  width: 30%;
  height: 100%;
}

.card[data-style="long"]  .cardMain{
  width: 70%;
  padding-bottom: 24px;
}

.card[data-style="long"] .cardMain .tags{
  margin-top: 6px;
  display: block;
}

.card[data-style="long"] .time{
  bottom: 8px;
}


@media (max-width: 1180px){
  .wrapper{
    justify-content: center;
  }

  .card{
    height: auto;
    max-width: 380px;
    flex-direction: column;
    height: 100%;
    min-height: 450px;
    max-height: 490px;
  }

  .card .cardHeader, .card .cardMain{
    width: 100%;
  }

  .card .cardHeader,
  .card .cardHeader img{
    height: 220px;
  }

  .card .cardMain{
    flex-grow: 1;
    flex-direction: column;
    height: auto;
    padding-bottom: 32px;
  }

  .card .time{
    bottom: 16px;
  }
  
  .card[data-style="long"]{
    min-height: 220px;
  }
}

@media (max-width: 1000px){
  .card[data-style="long"]{
    width: calc(100% - 32px);
  }
}

@media (max-width: 736px){
  .card[data-style="long"]{
    width: 100%;
    max-width: 100%;
    min-height: 250px;
  }
}

@media (max-width: 705px){
  .card[data-style="long"]{
    width: 100%;
    max-width: 100%;
    min-height: 280px;
  }

  .card[data-style="long"] .cardHeader{
    min-width: 250px;
  }

  .card[data-style="long"] .cardMain{
    width: calc(100% - 250px);
  }
}
@media (max-width: 625px){
  .card[data-style="long"]{
    min-height: 295px;
  }
  .card[data-style="long"] .cardMain{
    padding-bottom: 42px;
  }
}

@media (max-width: 590px){
  .card, .card[data-style="long"]{
    width: 335px;
    max-width: unset;
    min-width: unset;

    min-height: 450px;
    max-height: 450px;
  }

  .card[data-style="long"]{
    min-height: 500px;
    max-height: 520px;
  }

  .card[data-style="long"]{
    flex-wrap: wrap;
    width: 320px;
    flex-direction: column;
  }

  .card[data-style="long"]  .cardHeader{
    width: 100%;
    height: 220px;
  }
  
  .card[data-style="long"]  .cardMain{
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    height: auto;
    padding-bottom: 32px;
  }
}


@media (max-width: 768px) and (min-height: 1024px){
  .wrapper{
    width: 100%;
  }

  .card[data-style="long"]{
    width: 100%;
    max-width: 100%;
    height: 200px;
    min-height: unset;
    margin: 0 auto;
  }

  .card .cardHeader img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}