.container {
	margin: 16px 0px;
	display: flex;
	justify-content: space-between;
	align-content: flex-start;
	align-items: center;
	margin-top: 24px;
	color: #888888;
}



.container p{
	flex-shrink: 0;
  display: flex;
  gap: 6px;
}

.container a{
	color: #FED467;
	transition: 250ms linear;
}

.container a:hover{
	text-decoration: underline;
}

@media screen and (max-width: 410px){
	.container{
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: 6px;
	}

	.container p{
		display: flex;
		flex-wrap: wrap;
		font-size: 1.4rem;
	}
}