.post_card{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 32px;
  gap: 12px;
  background: var(--postcard-background-color);
  border-radius: 24px;
  transition: 300ms linear;
  width: 100%;
}

.post_card .title{
  color: var(--postcard-title-color);
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 140%;
}

.post_card a:hover{
  color: var(--primary-color);
}

@media (max-width: 550px){
  .post_card{
    max-width: calc(100% - 16px);
    padding: 24px;
  }

  .post_card .title{
    font-size: 2rem
  }
}


.post_card .description{
  font-size: 1.6rem;
  color: #CFCFCF;
  line-height: 180%;
}

.post_card .container{
  display: flex;
  width: 100%;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 8px;
  color: var(--post-card-date-color);
}