.loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.spin {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-primary);
  border-top-color: transparent;
  animation: spin 550ms linear infinite;
  border-radius: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
