.buttonTop{
  --bottom: 20px;
  position: fixed;
  bottom: var(--bottom);
  right: 20px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: var(--color-bg-component);
  box-shadow: 4px 6px 16px rgba(0,0,0,0.7);
  transition: 350ms linear;
}

.buttonTop:hover{
  bottom: calc(var(--bottom) + 5px);
}