.page{
  width: 100%;
  max-width: 800px !important;
  margin: 0 auto;
  margin-top: 64px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page h1{
  text-align: center;
}

.page .postInfo{
  text-align: center;
  margin: 32px auto;
  margin-bottom: 54px;
}

.divider{
  margin: 64px auto;
  margin-bottom: 24px;
  width: 100%;
  border: none;
  border-top: 2px solid var(--color-border);
  height: 0px;
  max-width: 800px;
}

.pagePost img,
.pagePost video,
.pagePost iframe,
.pagePost embed {
  width: 100%;
  margin: 32px auto;
}

.page strong{
  color: inherit;
  font-family: inherit;
}

.page h1, .page h2, .pageh3 {
  margin: 0 0 0.35em;
}

.page h1 {
font-size: 40px;
}

@media (max-width: 410px){
  .page{
    margin-top: 12px;
  }
  .page h1{
    font-size: 32px;
    text-align: left;
    padding: 0px 8px;
  }
}

.page h2 {
font-size: 28px;
}

.page h3 {
font-size: 20px;
}

.page p,
.page .paragraph {
  margin: 0 0 1.15em;
  line-height: 1.8;
  font-size: 18px;
  font-weight: 400;
}

.page .paragraph + h2,
.page pre + h2,
.page p + h2,
.page div + h2,
.page ul + h2 {
  margin-top: 1.5em;
}

.page pre + h3,
.page p + h3,
.page div + h3{
  margin-top: 2em;
}








/* Code */
.page > pre,
.page .paragraph > pre{
  margin-bottom: 2em;
}

.page > pre > pre{
  background: var(--color-bg) !important;
  border: 1px solid var(--color-border);
  border-radius: unset !important;
}

.page > pre > pre code{
  font-family: monospace !important;
  opacity: 0.8;
}

.page .paragraph > code,
.page ul li > code,
.page ul li strong > code{
  line-height: inherit !important;
  font-size: inherit !important;
  padding: inherit !important;
  margin: inherit !important;
  text-shadow: none !important;
  background: none !important;
}

.page .paragraph > code span,
.page ul li > code span,
.page ul li strong > code span{
  background: #181820 !important;
  color: #ff4757 !important;
  padding: 2px 3px !important;
  font-weight: bold;
  font-size: 14px;
  border-radius: 4px;
}
/* Code */

.page ul{
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 1.15em;
}

.page ul + p,
.page ul + .paragraph{
  margin-top: 1.5em;
}

.page a{
  text-decoration: underline;
  color: var(--color-primary);
}