:root,
html.dark-mode {
  --container-width: min(656px, 100%);

  /* Typography */
  --inter: 'PT Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%
}


body {
  width: 100%;
  font-size: 1.6rem;
  color: #CFD2D8cc;
  background: #000;
  font-family: var(--inter);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
  color: #f1f1f1;
}

h1,h2,h3,h4,h5,h6{
  color: #f1f1f1;
}

button{
  cursor: pointer;
  border: 1px solid #1f1f1f;
  color: #CFD2D8;
  background: transparent;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

input,
button {
  font-family: var(--inter);
}