.header {
  width: 100%;
  height: 45px;
  padding: 0px 16px;
  display: flex;
  gap: 16px;
  align-items: center;

  justify-content: space-between; 
  width: min(calc(100% - 32px), 768px);
  margin: 0 auto;
  margin-top: 36px;
  border-radius: 24px;
}

@media (max-width: 580px){
  .header{
    margin-top: 24px;
  }
}

.header .brand{
  display: flex;
  align-items: center;
  gap: 4px;
}

.menu-social{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
}

.menu-social li a{
  color: #CFD2D8;
}

.menu-social li a:hover svg *{
  stroke: #f1f1f1;
}

.menu-social li a svg *{
  stroke-width: 1px;
}
