.layout{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  max-width: 856px;
  margin: 64px auto;
  flex-grow: 1;
  align-items: center;
}

.section_header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--section-header-border);
}


.section_header h2{
  font-size: 2.4rem;
}


.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 42px;
  padding-top: 38px;
  width: 100%;
  align-items: center;
}

@media (max-width: 550px){
  .section_header{
    max-width: calc(100% - 32px);
  }

  .container{
    padding-top: 24px
  }
}

@media screen and (max-width: 510px){
  .section_header h2{
    font-size: 1.8rem;
  }
}