.thumbnail {
  width: 100%;
  height: 100%;
  max-height: 230px;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  border-radius: 8px 8px 0px 0px;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.3s linear;
}

.thumbnail img:hover {
  transform: scale(1.15) translateX(1.8rem);
}
