.toggleTheme{
  position: relative;
  z-index: 750;
  background: var(--color-dark-500);
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toggleTheme[aria-checked="false"]{
  background: var(--color-white-200);
}

.toggleTheme svg{
  width: 16px;
  height: 16px;
}