.navigation {
  height: 100%;
}

.navigation .nav-curtain {
  display: none;
}

.navigation .navMenu {
  width: auto;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
}

.navigation .navMenu .menuItem {
  height: 100%;
  transition: 350ms linear;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation .navMenu .menuItem a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: 250ms linear;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-text);
}

.navigation .navMenu .menuItem a:hover {
  color: var(--color-title);
}

.navigation .navMenu .menuItem.active a {
  color: var(--color-title);
  font-weight: 600;
}


@media (max-width: 610px) {
  .navigation {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
  }

  .navigation .navMenu {
    position: fixed;
    top: 0px;
    left: -250vw;
    width: 325px;
    height: 100vh;
    animation: slidingOut 350ms linear forwards;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 54px 32px;
    padding-top: var(--header-height);
    z-index: 999;
    background-color: var(--color-bg);
  }

  .navigation.visibled .navMenu {
    position: fixed;
    top: 0px;
    left: 0px;
    animation: slidingForwading 250ms linear forwards;
  }

  .navigation.visibled .nav-curtain {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 800;
  }

  .navigation .navMenu .menuItem {
    height: auto;
  }

  .navigation .navMenu .menuItem{
    font-size: 18px;
  }

  .navigation .navMenu .menuItem.active a{
    color: var(--color-title);
  }

}

@media (max-width: 365px) {
  .navigation .navMenu {
    width: 300px;
  }

  .navigation.visibled .navMenu {
    width: 300px;
  }
}

@keyframes slidingForwading {
  0% {
    transform: translateX(-150vw);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes slidingOut {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-150vw);
  }
}
