.footer {
  width: min(calc(100% - 32px), 768px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px 16px;
  height: 100px;
  align-items: center;
  margin: 0 auto; 
  margin-top: auto;
}

.footer .container_brand {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.footer a:hover{
  text-decoration: underline;
  text-underline-offset: 2px;
}

.footer .brand {
  width: 48px;
  height: 48px; 
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
}

@media (max-width: 550px) {
  .footer {
    padding: 0px 16px;
  }
}