.codeblock {
  margin: 0px !important;
  border-radius: 4px !important;
  background-color: var(--black-800) !important;
  border: 1px solid var(--black-600);
  overflow: auto;
  max-height: 550px;
}

.codeblock::-webkit-scrollbar{
  width: 10px;
  height: 10px;
  background: transparent;
}

.codeblock::-webkit-scrollbar-thumb{
  background: var(--black-500);
  border-radius: 9999px;
}

.codeblock .headding{
  height: 48px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--black-600);
  padding: 16px;
  color: #a1a1a1;
  background: var(--black-900);
  font-size:1.3rem
}

.codeblock .headding[data-active="false"]{
  display: none;
}