.codeblock {
  margin: 0px !important;
  border-radius: 4px !important;
  background-color: #0e0e0f !important;
  border: 1px solid #1f1f1f;
  overflow: auto;
  max-height: 550px;
  border-radius: 4px;
  position: relative;
  
}
 

.codeblock::-webkit-scrollbar{
  width: 10px;
  height: 10px;
  background: transparent;
}

.codeblock::-webkit-scrollbar-thumb{
  border-radius: 9999px;
}

.codeblock .headding{
  height: 48px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #1f1f1f;
  padding: 16px;
  font-size:1.3rem;
  position: sticky;
  width: 100%;
  background: #000;
  top: 0px;
  font-family: var(--inter);
}

.codeblock .headding[data-active="false"]{
  display: none;
}