.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  padding-top: 64px;
}

.tags .card {
  width: calc((100% / 3) - 2.4rem);
  min-width: 240px;
  height: 180px;
  border-radius: 12px;
  padding: 16px;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2.4rem;
  border: 1px solid transparent;
  border-top-width: 12px;
}

.tags .card h3 {
  text-transform: uppercase;
  font-size: 1.8rem;
  color: var(--color-title);
}

.tags .card .button {
  border: 1px solid var(--color-border);
  height: 42px;
  width: 164px;
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-bg);
  color: var(--color-title);
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  border-radius: 4px;
}

.tags .card .button:hover {
  background: var(--color-bg);
  color: #dfdfdf;
}

.tags .card .button:active,
.tags .card .button:focus {
  outline: 2px solid var(--color-border);
  outline-offset: 4px;
}

@media (max-width: 860px) {
  .tags .card {
    width: calc((100% / 2) - 24px);
  }
}

@media (max-width: 540px) {
  .tags {
    justify-content: center;
  }
  .tags .card {
    min-width: 300px;
  }
}
