:root {
  /* Color Dark */
  --color-dark-100: #a0a1a3;
  --color-dark-200: #89898c;
  --color-dark-300: #717175;
  --color-dark-400: #59595e;
  --color-dark-500: #414147;
  --color-dark-600: #2a2a30;
  --color-dark-700: #121219;
  --color-dark-800: #101017;
  --color-dark-900: #0e0e14;

  /* Color White */
  --color-white-100: hsl(235, 100%, 97%);
  --color-white-200: hsl(244, 17%, 94%);
  --color-white-300: #c3c4cc;
  --color-white-400: #abacb3;
  --color-white-500: #929399;
  --color-white-600: #7a7b80;
  --color-white-700: #626266;
  --color-white-800: #49494c;
  --color-white-900: #313133;

  --color-default: #2c3a47;
  --color-gray: #cad3c8;
  --color-brown: #fea47f;
  --color-orange: #f7b731;
  --color-red: #eb3b5a;
  --color-blue: #3867d6;
  --color-purple: #82589f;
  --color-green: #20bf6b;

  --color-primary: #f50057;
}

:root {
  --color-text: #32323f;
  --color-title: #171719;

  --color-bg: var(--color-white-200);
  --color-bg-component: var(--color-white-100);
  --color-bg-item: #ddd;

  --color-border: #cdcdcd;

  --color-bg-scrollbar-bg: var(--color-white-200);
  --color-bg-scrollbar-thumb: var(--color-white-300);
}

.isDarkTheme {
  --color-text: #75758f;
  --color-title: #dedfef;

  --color-bg: var(--color-dark-900);
  --color-bg-component: var(--color-dark-700);
  --color-bg-item: #31313f;

  --color-bg-scrollbar-bg: var(--color-dark-900);
  --color-bg-scrollbar-thumb: var(--color-dark-600);

  --color-border: #31313f;
}

::-webkit-scrollbar {
  background: var(--color-bg-scrollbar-bg);
  padding-left: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-bg-scrollbar-thumb);
  border: 3px solid var(--color-bg-scrollbar-bg);
  border-radius: 8px;
}

