.layout{
	margin-bottom: 200px;
}

.meta{
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.meta p {
	color: #CFD2D8a0;
}

.blogpost {
	width: min(calc(100% - 32px), 768px);
	margin: 32px auto;
	background: transparent;
	padding: 0px 16px 16px 16px;
	border-radius: 8px;
	max-width: 100vw;
	margin-top: 45px;
	color: #CFD2D8;
	min-height: 100vh;
}

.blogpost h1 {
	font-size: 3.8rem;
}
 

@media (max-width: 550px) {
	.blogpost {
		border: none;
		padding: 0px;
		margin-top: 32px;
	}
}