.tags{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.tags .tag_button{
  transition: 250ms ease-in;
}

.tags .tag_button[data-active="true"]{
  background-color: var(--black-700);
  border-color: var(--gray-300);
  color: var(--white-200);
}