.hero {
  height: calc(80vh - 64px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' width='1440' height='500' preserveAspectRatio='none' viewBox='0 0 1440 500'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath2219%26quot%3b)' fill='none'%3e%3crect width='1440' height='500' x='0' y='0' fill='rgba(18%2c 19%2c 25%2c 1)'%3e%3c/rect%3e%3ccircle r='19.64' cx='1367.07' cy='107.51' fill='url(%23SvgjsRadialGradient2220)'%3e%3c/circle%3e%3ccircle r='35.705' cx='1212.01' cy='313.58' fill='url(%23SvgjsLinearGradient2221)'%3e%3c/circle%3e%3ccircle r='20.68' cx='1054.68' cy='444.8' fill='url(%23SvgjsLinearGradient2222)'%3e%3c/circle%3e%3ccircle r='35.58' cx='247.58' cy='87.25' fill='url(%23SvgjsLinearGradient2223)'%3e%3c/circle%3e%3ccircle r='42.1' cx='975.84' cy='226.72' fill='url(%23SvgjsLinearGradient2224)'%3e%3c/circle%3e%3ccircle r='38.49' cx='539.19' cy='485.51' fill='url(%23SvgjsRadialGradient2225)'%3e%3c/circle%3e%3ccircle r='45.36' cx='39.59' cy='495.3' fill='url(%23SvgjsRadialGradient2226)'%3e%3c/circle%3e%3ccircle r='36.955' cx='441.01' cy='446.99' fill='url(%23SvgjsLinearGradient2227)'%3e%3c/circle%3e%3ccircle r='26.63' cx='1429.62' cy='25.81' fill='url(%23SvgjsRadialGradient2228)'%3e%3c/circle%3e%3ccircle r='14.155' cx='361.41' cy='140.73' fill='url(%23SvgjsLinearGradient2229)'%3e%3c/circle%3e%3ccircle r='24.735' cx='248.5' cy='393.26' fill='url(%23SvgjsLinearGradient2230)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath2219'%3e%3crect width='1440' height='500' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3cradialGradient cx='1327.79' cy='68.23' r='111.1' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient2220'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(104%2c 109%2c 224%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/radialGradient%3e%3clinearGradient x1='1140.6' y1='313.58' x2='1283.4199999999998' y2='313.58' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2221'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(104%2c 109%2c 224%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1013.32' y1='444.8' x2='1096.04' y2='444.8' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2222'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(126%2c 98%2c 134%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='176.42000000000002' y1='16.090000000000003' x2='318.74' y2='158.41' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2223'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(104%2c 109%2c 224%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='891.64' y1='226.71999999999997' x2='1060.04' y2='226.71999999999997' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2224'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(92%2c 224%2c 135%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3cradialGradient cx='462.21000000000004' cy='408.53' r='217.73' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient2225'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(104%2c 109%2c 224%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/radialGradient%3e%3cradialGradient cx='-51.129999999999995' cy='404.58000000000004' r='256.59' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient2226'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(104%2c 109%2c 224%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/radialGradient%3e%3clinearGradient x1='367.1' y1='446.99' x2='514.9200000000001' y2='446.99' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2227'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(126%2c 98%2c 134%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3cradialGradient cx='1376.36' cy='-27.45' r='150.64' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient2228'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(104%2c 109%2c 224%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/radialGradient%3e%3clinearGradient x1='333.1' y1='140.73' x2='389.72' y2='140.73' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2229'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(104%2c 109%2c 224%2c 1)' offset='0.33'%3e%3c/stop%3e%3cstop stop-color='rgba(66%2c 68%2c 136%2c 1)' offset='0.54'%3e%3c/stop%3e%3cstop stop-color='rgba(66%2c 68%2c 136%2c 1)' offset='0.64'%3e%3c/stop%3e%3cstop stop-color='rgba(66%2c 68%2c 136%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='199.03' y1='393.26' x2='297.97' y2='393.26' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2230'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(92%2c 224%2c 135%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  position: relative;
}

.hero::before {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary)
  );
}

.hero::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background: linear-gradient(
    to right,
    var(--color-dark-900),
    var(--color-secondary)
  );
  opacity: 0.03;
}

.hero img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.hero h1 {
  font-size: 4.8rem;
  color: #fff;
  display: block;
  z-index: 2;
  position: relative;
}

.hero h1::first-letter {
  text-transform: uppercase;
}

.hero p {
  color: #efefef;
  font-weight: 500;
  letter-spacing: 0.05rem;
  font-size: 1.8rem;
  opacity: 0.8;
  text-align: center;
  max-width: calc(100% - 32px);
  line-height: 3.2rem;
  margin-top: 16px;
  z-index: 2;
  position: relative;
}

@media (max-width: 690px) {
  .hero {
    height: calc(60vh - 64px);
    text-align: center;
  }
}

@media (max-width: 590px) {
  .hero:not(.contentImage) {
    padding: 0 16px;
    gap: 16px;
    overflow-x: hidden;
    max-width: 100%;
  }
  .hero {
    height: calc(60vh - 64px);
    max-height: 392px;
  }
  .hero h1 {
    font-size: 32px;
    text-align: center;
  }
  .hero p {
    font-size: 16px;
    text-align: center;
    max-width: unset;
  }
}

@media (max-width: 375px) {
  .hero h1 {
    font-size: 28px;
  }
}

/* Tablet */
@media (max-width: 768px) and (min-height: 1024px) {
  .hero {
    height: calc(55vh - 64px);
    text-align: center;
  }
}
